.header {
    border: solid 2px #000;
    height: 100px;

}
.vertical {
    border: solid 4px #000;
    height: 100px; 
    flex-grow: 1;
       
}

body {
    font-size: 0;

}

.main {
    display: flex;
    justify-content: space-around;
    border: solid 2px red;
    height: 500px;
     
}

.verticalLeft {
    flex-grow: 2;

}

.verticalRight {
    display: flex;
    flex-grow: 6;
    flex-direction: column;
}

.central, .verticalRight {
    border: solid 2px black;

}

.centralRight {
    flex-grow: 1;
}

.central {
    flex-grow: 2;
}

.top {
    flex-grow: 1;
}

.bottom {
    display: flex;
    flex-grow: 2;
}

.top, .bottom {
    border: solid 2px black;
}